body {
  background-color:  hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit, sans-serif;
  height: 100vh;
}

.container {
  width: 200px;
  height: auto;
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.main-paragraph {
  font-size: 14px;
  font-weight: 700;
  margin: 15px 0 10px;
  color: hsl(218, 44%, 22%);
  text-align: center;
  line-height: 1.4;
}

.details {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin: 0 10px 20px;
  color: hsl(216, 15%, 48%);
  line-height: 1.4;
}

@media (min-width: 600px) {
  .container {
    width: 300px;
    padding: 20px;
  }

  .main-paragraph {
    font-size: 19px;
  }

  .details {
    font-size: 14px;
  }
}
